{% extends "base_layout.html" %}

{% block content %}
<!-- <div class="sidenav">
	<a href="{% url 'index' %}">Home</a>
	<a href="/polls">Polls</a>
	<a href="/register"> Sign up</a>
</div> -->

<h1 style="text-align:center">{{ question.question_text }}</h1>
	
<li style="text-align:center">
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">


{% csrf_token %}
{% for choice in question.choice_set.all %}
	{% if choice.complete == True %}
 		<li><input type="checkbox" value ="{{ choice.id }}", name="c{{choice.id}}" checked>{{choice.choice_text}}</li>
 	{% else %}
    	<li><input type="checkbox" value = "{{ choice.id }}", name="c{{choice.id}}">{{choice.choice_text}}</li>
    {% endif %}
{% endfor %}
<button type="submit" value="save", name="save">Save</button>
</li style="text-align:center">

</form>

{% endblock %}


