{% extends "base_layout.html" %}

{% block content %}
<div class="sidenav">
	<a href="{% url 'index' %}">Home</a>
	<a href="/polls">Polls</a>
	<a href="/register"> Sign up</a>
</div>

<h1 style="text-align:center">{{ question.question_text }}</h1>
	
<li style="text-align:center">
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">


{% csrf_token %}
{% for choice in question.choice_set.all %}
 	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Submit">
</li style="text-align:center">

</form>

{% endblock %}