{% extends "base_layout.html" %}

{% block content %}
<!-- <div class="sidenav">
	<a href="{% url 'index' %}">Home</a>
	<a href="/polls">Polls</a>
	<a href="/register"> Sign up</a>
</div> -->

<h1 style="text-align:center">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">


{% csrf_token %}
{% for choice in question.choice_set.all %}
	<div style="text-align: center">
		{% if choice.complete == True %}
	 		<input type="checkbox" value ="{{ choice.id }}", name="display">{{choice.choice_text}}
	 	{% else %}
	    	<input type="checkbox" value = "{{ choice.id }}", name="display">{{choice.choice_text}}
	    {% endif %}
	</div>
{% endfor %}
<div class="imgButton">
	<button type="submit" value="save", name="save">Save</button>
</div>
<!-- </li style="text-align:center"> -->

</form>

{% endblock %}


