{% extends "base_layout.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}

	{% if latest_question_list %}
	<!-- <div class="sidenav">
			<a href="{% url 'index' %}">Home</a>
			<a href="/polls">Polls</a>
			<a href="/register"> Sign up</a>
		</div> -->
		<h1 style="text-align:center" >Survey Questions</h1>
	    	{% for question in latest_question_list %}
	    		<div style="text-align: center">
	    	    	<a href="{% url 'polls:detail' question.id %}">{{question.question_text }}</a>
	    	    </div>
	    	{% endfor %}
	    	<div style="text-align: center">
		    	<a href = 'update'>
					<a1> Update genre ratings </a1>
				</a>
			</div>
		{% else %}
	    	<p>No polls are available.</p>
		{% endif %}

{% endblock %}