.sidenav {
	height:150%;
	width:160px;
	position: absolute;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	overflow-x: :hidden;
	padding-top:20px;
}

.sidenav a {
	padding:6px 8px 6px 16px;
	text-decoration: none;
	font-size:25px;
	color: #ffffff;
	display:block;
}

.sidenav a:hover{
	color: #FAEBD7;
}	

.main{
	margin-left:160px;
	padding: 0px 10px;
}

.button {
	background-color: #111;
	color: white;
	padding: 15px 32px;
}

img {
	padding-left: 40%;
    height: 20%;
  	width: 20%;
}

.imgButton{
  text-align:center;
  padding-top: 10px;
}

.wrapper {
	margin-left: 14%;
}

.logging {
	padding-top: 5%;
	padding-left: 10%;
	font-size: 20px;
}


.sidenav1 {
	height:90px;
	width:100%;
	position: absolute;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	overflow-x: :hidden;
}

#sign {
	color: black;
	font-size: 30px;
}

#already {
	padding-left: 10%;
}

.container {
	padding-top: 10%;
	padding-left: 35%;
}

.container1 {
	padding-left: 37%;
	padding-top: 3%;
}

p1 {
	color: white;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 25px;
	padding: 5px;
	border: 5px solid white;
}

.title {
	padding: 10px;
}

p2 {
	color: white;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 25px;
	padding: 5px;
	border: 5px solid white;
}

.title1 {
	padding-left: 46%;
	padding-top: 3%;
	/*display: inline-block;*/
}