<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/homestyle.css' %}">
		<script src="{% static 'home/home_page.js' %}"></script>
	</head>

	{% block title %}Create an account{% endblock %}
	<body>

		<form method="POST" class="form-group">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" id="btn" class="btn btn-success">Sign up</button>
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
			{% endfor %}
				</ul>
			{% endif %} 
		</form>
		If you already have an account, <a href="\login" id="have_login">login</a> instead.
	</body>
</html>